.gamelisting {
    border: 1px solid coral;
    border-radius: 1.25rem;
    background-color: #2a9daf;
    width: 45%;
    margin: 1rem;
    padding: 10px;
    

}

.card-container {
    box-sizing: border-box;
}