// Colours

$charcoal: #264653;
$turquoise: #4ED0C1;
$yellow: #E9C46A;
$orange: #F4A261;
$coral: #E76F51;
$purple:#6e1f58;



@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
$header-font: 'Kavoon', cursive;